body {
  text-align: center;
  font-size: 130%;
  margin: 0 0 0 0;
}
#nav {
  background-color: #818081;
  width: 100%;
  margin-bottom: 50px;
}

#left {
  width: 50%;
  background-color: #0300fd;
  float: left;
  margin-bottom: 239px;
  padding-top: 300px;
  height: 600px;
  box-sizing: border-box;
}

#right {
  width: 25%;
  background-color: #fe0001;
  float: right;
  padding-top: 300px;
  height: 600px;
  box-sizing: border-box;
}

#footer {
  overflow: auto;
  background-color: #028002;
  width: 100%;
}
